<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>

  <p>
    <%= @blog.topic.title %>
  </p>

  <hr>

  <p>
    <%= @blog.body %>
  </p>

  <% if logged_in?(:site_admin) %>
  <%= link_to edit_blog_path, class: "btn btn-primary" do %>
    <i class="fa fa-pencil-square-o"></i> Edit
    <% end %>
  <% end %>

  <hr>

  <%= render "comments/comment_form" %>

  <div id="comments" data-blog-id="<%= @blog.id%>">
  <%= render @blog.comments %>
  </div>
</div>

